.pk-password{
  .password-nav{
    overflow: hidden;
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    img{
      float: left;
      display: block;
      margin: 8px 15px 0 0;
    }
    a{
      float: right;
      color: $pk-mainText;
      font-size: 14px;
    }
  }
  .main-bac{
    overflow: hidden;
    position: relative;
    height:calc(100vh - 50px);
    min-height: 590px;
    background: url(./../images/password/bac.png) no-repeat fixed;
    background-size: 100% 100%;
  }
  .password-box{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 378px;
    background-color: #fff;
    padding: 24px 24px 30px;
    box-shadow:0px 2px 11px 0px rgba(228,228,228,0.33);
    transform: translate(-50%, -50%);
    .password-title{
      margin-bottom: 4px;
      color: $pk-mainText;
      font-size: 18px;
      line-height: 25px;
    }
    .common-password-btn{
      margin: 16px 0 20px;
    }
  }
  .login-box{
    position: relative;
  }
  .password-bottom{
    line-height: 20px;
    a{
      font-size: 14px;
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .pk-error-mess{
    margin-top: 10px;
    height: 17px;
    font-size: 12px;
    color: $pk-error;
    line-height: 17px;
  }
}
.pk-header-name{
  float: left;
  font-size: 18px;
  font-weight: bold;
}
